@import url('../../templates/main.css');

* {
    transition: all 250ms;
}

.go-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    margin: 0.5rem 0 0 0.5rem;
    background-color: transparent;
    background-image: url('../../icons/go-back.png');
    border: none;
    outline: none;
}

.navbar {
    position: fixed;
    background-color: var(--button-color);
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    text-align: end;
}

.link {
    text-decoration: none;
    padding: 1rem;
    background-color: #00000000;
    font-size: medium;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-link {
    position: relative;
    text-decoration: none;
    background-color: #00000000;
    font-size: medium;
    cursor: pointer;
    background-color: var(--button-color);
}

.menu-link:hover {
    filter: brightness(1.15);
}

.dropdown-menu {
    position: absolute;
    right: 7.5rem;
    top: 4rem;
    width: 5rem;
    border: none;
    outline: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
}

.show-this {
    opacity: 1;
}

.link-a {
    width: 100%;
    padding: 1rem;
}

.link-b {
    width: 100%;
    padding: 1rem;
}

.link-c {
    width: 100%;
    padding: 1rem;
}
